parameters:
    avatars_directory: '%kernel.project_dir%/public/uploads/avatars'
    products_directory: '%kernel.project_dir%/public/uploads/products'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'

    # Register Doctrine Subscriber
    App\EventSubscriber\ActivitySubscriber:
        tags:
            - { name: doctrine.event_subscriber }
            - { name: 'kernel.event_subscriber' }
    
    # Explicitly register AccessDeniedHandler and make it public
    App\Security\AccessDeniedHandler:
        public: true
        autowire: true